<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drgou.imagecommonlibrary">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--它可以监听用户的连接状态并在用户重新连接到网络时重启之前失败的请求-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于硬盘缓存和读取-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


</manifest>


